# Arquivos e diretórios gerados pelo Robot Framework
output/
report.html
log.html
.html
log.html
output.xml
xunit.xml
debug.log
screenshots/
selenium-screenshot-1.png
*.png  # Capturas de tela de falhas, se aplicável

# Arquivos temporários e de ambiente
__pycache__/
*.pyc
*.pyo
*.log

# Virtual environment (Python)
venv/
.env/

# Configurações do IDE/Editor
.vscode/
.idea/

# Dependências instaladas localmente
*.egg-info/
dist/
build/

# Outros arquivos comuns a projetos em Python
.DS_Store
Thumbs.db
